/* You can add global styles to this file, and also import other style files */

@import '~ngx-sharebuttons/themes/material/material-dark-theme';
@import '~ngx-sharebuttons/themes/modern/modern-light-theme';
@import '~ngx-sharebuttons/themes/circles/circles-dark-theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#toast-container {
    right: 3% !important;
    max-width: 100% !important;
}
.container{
    margin: 4rem auto !important;
}
.mat-form-field-subscript-wrapper.ng-tns-c100-1 {
    display: none;
}