h1{
    margin: 0px !important;
    font-size: 2.5rem;
}
.flex-container-horizontal{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flex-container-horizontal-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.vaccinated-persons{
    font-size: 2rem;
    text-align: center;
}
#line-chart,
#column-chart{
    margin-top: 4rem;
}
.vaccunated-card-header{    
    background: #044160;
    padding: .8rem;
    display: flex;
    align-items: center;
    border-radius: 17px 17px 0px 0px;
    margin-bottom: .5rem;
    
}
.vaccunated-card-header p{
    color: white;
    margin: 0px;
    font-size: 1.2rem;
}
select{
    display: block;
}