select{
    display: block;
}
.icon-circle{
    border-radius: 50%;
    color: #fff;
    background-color: #044160;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.horizontal-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}