<div class="row">
    <div class="col s3">
        <div class="container">
            <div class="collection">
                <a routerLink="/agendarse" class="collection-item">Reservar</a>
                <a routerLink="/consulta-reserva" class="collection-item active">Consultar reservas</a>
            </div>
        </div>
    </div>
    <div class="col s8">
        <div class="container">
            <div class="horizontal-center">
                <h2>Consulta Reserva</h2>
            </div>
            <table *ngIf="consultas" class="highlight responsive-table">
                <thead>
                  <tr>
                    <th>Enfermedad</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Vacunatorio</th>
                    <th>Estado</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngFor="let consulta of consultas">
                  <tr>
                    <td>{{ consulta.enfermedad }}</td>
                    <td>{{ consulta.fecha }}</td>
                    <td>{{ consulta.hora }}</td>
                    <td>{{ consulta.vacunatorio }}</td>
                    <td>{{ consulta.estado }}</td>
                    <td>
                      <button *ngIf="consulta.estado == 'Pendiente'" class="btn center red lighten-2" mat-button (click)="cancelarReserva(consulta.id)">
                        Cancelar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
