<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <title>VacunasUY</title>
</head>
  <body>
    <nav class="menu-principal">
      <div class="nav-wrapper">
          <a href="#" class="brand-logo">VacunasUY</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li *ngIf="!userName"><a (click)="login()">Autenticarse</a></li>
          <li *ngIf="userName">{{ userName }}</li>
          <li><a routerLink="/agendarse"> Agendarse</a></li>
          </ul>
      </div>
      <button (click)="username()">test</button>
    </nav>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </body>
</html>






