<div class="container">
    <div *ngIf="user" class="horizontal-center">
      <h2>Confirmar perfil ciudadano</h2>
    </div>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input disabled value="{{ user.nombre_completo }}" id="nombre" type="text" class="validate">
            <span class="helper-text">Nombre completo</span>
          </div>
          <div class="input-field col s6">
            <input disabled value="{{ user.numero_documento }}" id="ci" type="text" class="validate">
            <span class="helper-text">Número de documento</span>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
              <input disabled value="{{ user.email }}" id="email" type="text" class="validate">
              <span class="helper-text">Correo electrónico</span>
            </div>
            <div class="input-field col s6">
              <input disabled value="{{ user.fnac }}" id="fnac" type="text" class="validate">
              <span class="helper-text">Fecha de nacimiento</span>
            </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input disabled value="{{ user.poblacionObjetivo }}" id="pobj" type="text" class="validate">
            <span class="helper-text">Poblacion objetivo</span>
          </div>
        </div>
        <button (click)="confirmar()" class="btn waves-effect waves-light right" type="submit" name="action">Confirmar
          <i class="material-icons right">check</i>
        </button>
      </form>
    </div>
</div>
