<div class="container">
  <div class="horizontal-center">
    <h2>Agendas activas</h2>
  </div>
    <table *ngIf="agendas" class="highlight responsive-table">
        <thead>
          <tr>
              <th>Código</th>
              <th>Fecha inicio</th>
              <th>Fecha fin</th>
              <th>Hora inicio</th>
              <th>Hora fin</th>
              <th>Vacunatorio</th>
              <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let agenda of agendas | paginate: { itemsPerPage: 7, currentPage: p }">
          <tr>
            <td>{{ agenda.id }}</td>
            <td>{{ agenda.inicio }}</td>
            <td>{{ agenda.fin }}</td>
            <td>{{ agenda.horaInicio }}</td>
            <td>{{ agenda.horaFin }}</td>
            <td>{{ agenda.dtVacunatorio.nombre }}</td>
            <td>
              <button class="btn center secondary-btn" mat-button (click)="masInfo(agenda.listDtPlanVacunacion)">
                Ver Planes
              </button>
          </td>
          </tr>
        </tbody>
      </table>
      <div class="center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls> 
      </div>
      
</div>