<div class="top-login">
    <a class="user-link" *ngIf="!user" (click)="autenticarse()">Ingresa con gubuy</a> 
    <a class="user-link" *ngIf="user">Hola, {{ user.nombre_completo }} <a (click)="logout()"><i class="material-icons">exit_to_app</i></a></a>
</div>
<div class="head-center">
    <a href="./">
        <h1>vacunas.uy</h1>
    </a>
    <p>Toda la información y servicios sobre vacunaciones, en un solo lugar.</p>
</div>
<nav class="menu-principal">
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li *ngIf="user && !user.vacunador"><a routerLink="/agendarse">Gestión Agenda</a></li>
        <li><a routerLink="/sala-chat">Chat</a></li>
        <li><a routerLink="/agendas-activas">Próximas agendas</a></li>
        <li><a routerLink="/monitor-vacunacion">Monitor de vacunacion</a></li>
        </ul>
    </div>
</nav>