<div class="container">
    <h1>Servicios</h1>
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
            <div class="card-content white-text">
                <span class="card-title text-principal">Monitor de vacunación</span>
                <p class="black-text">Obtene información en gráfica y tiempo real sobre todos los actos vacunales del país.</p>
            </div>
            <div class="card-action center">
                <a routerLink="/monitor-vacunacion">Ver monitor</a>
            </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
            <div class="card-content white-text">
                <span class="card-title text-principal">Proximas agendas</span>
                <p class="black-text">Conoce las agendas de vacunación vigentes y próximas a abrirse.</p>
            </div>
            <div class="card-action center">
                <a routerLink="/agendas-activas">Ver agendas</a>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="home-banner">
    <h1>Certificados de vacunación digital</h1>
    <a routerLink="/lista-certificados">Ver certificados</a>
    <div class="banner-hover"></div>
    
</div>
<div class="container">
    <h1>Reservas de vacunación</h1>
    <div class="row">
        <div class="col s12 m6">
            <div class="card flex-card">
            <div class="card-icon">
                <i class="material-icons text-white">insert_invitation</i>
            </div>   
            <div class="card-content white-text">
                <a href="#" class="card-title text-principal">Realizar reserva</a>
            </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card flex-card">
            <div class="card-icon">
                <i class="material-icons text-white">info_outline</i>
            </div>   
            <div class="card-content white-text">
                <a href="#" class="card-title text-principal">Consultar reserva</a>
            </div>
            </div>
        </div>
    </div>
</div>
